.nav-link,
.btn-outline-light {
  text-transform: uppercase;
}

.navbar {
  padding-top: 13px;
  padding-bottom: 17px;
}

.navbar-brand {
  padding-top: 2px;
}

.nav-item {
  margin-left: 16px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  border: 2px solid transparent;
  padding: 6px 10px 6px 10px;
  border-radius: 4px;
  &:hover {
    border: 2px solid #5b6168;
  }
}

.navbar-light .navbar-nav .nav-link.active {
  border: 2px solid #23b7a4;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.carousel-item {
  .btn-outline-light {
    margin-top: 18px;
    margin-right: 5px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    &:hover {
      color: #ffffff;
      background: #23b7a4;
      border-color: #23b7a4;
    }
  }
}

h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  color: #292f36;
  text-transform: uppercase;
  margin-top: 78px;
  margin-bottom: 47px;
  position: relative;
  padding-left: 24px;
  letter-spacing: -1.5px;
  &:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 10px;
    background: #e1e6ea;
    top: 2px;
    left: 0;
  }
}

h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  color: #292f36;
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: -0.8px;
}

.section-par {
  font: 16px/26px "Open Sans", sans-serif;
  color: #8d8f92;
  margin-bottom: 27px;
}

.section-box {
  margin-top: 5px;
  margin-left: 17px;
  span {
    font-family: "Quattrocento Sans", sans-serif;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background: #23b7a4;
    font-size: 20px;
    color: #ffffff;
  }
}

.section-item {
  margin-left: 20px;
}

.offcanvas-top {
  height: 100vh;
}

.carousel-indicators [data-bs-target] {
  height: 9px;
  width: 9px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  transition: none;
  opacity: 1;
}
.carousel-indicators button.active {
  background-color: #fff;
}

.carousel-item img {
  height: 660px;
}

.carousel-caption {
  left: 0;
  top: calc(50% - 100px);
  right: inherit;
  height: 200px;
  text-align: left;
}

.wrapper-caption {
  position: absolute;
  left: 45px;
  right: 0;
  top: -32px;
  bottom: 0;
  height: 100%;
  letter-spacing: -1.75px;
}

.column-relative {
  position: relative;
  height: 100%;
}

.custom-height {
  height: 100%;
}

.main-wrapper {
  // padding-bottom: 100px;
  border-bottom: 1px solid #dde1e4;
}

.article-par {
  font: 16px/26px "Open Sans", sans-serif;
  margin-bottom: 26px;
  color: #8d8f92;
}

.social-networks {
  margin-top: 48px;
  height: 60px;
  margin-bottom: 102px;

  .facebook {
    height: 60px;
    width: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 15px;
      left: 15px;
      height: 40px;
      width: 40px;
      background: url(../images/sprite/sprite.svg#facebook-icon) no-repeat;
    }
    &:hover {
      background-color: #d0d5d9;
    }
  }

  .twitter {
    height: 60px;
    width: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 15px;
      left: 15px;
      height: 40px;
      width: 40px;
      background: url(../images/sprite/sprite.svg#twitter-icon) no-repeat;
    }
    &:hover {
      background-color: #d0d5d9;
    }
  }
  .google {
    height: 60px;
    width: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 15px;
      left: 15px;
      height: 40px;
      width: 40px;
      background: url(../images/sprite/sprite.svg#google-icon) no-repeat;
    }
    &:hover {
      background-color: #d0d5d9;
    }
  }
  .dribbble {
    height: 60px;
    width: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 15px;
      left: 15px;
      height: 40px;
      width: 40px;
      background: url(../images/sprite/sprite.svg#dribbble-icon) no-repeat;
    }
    &:hover {
      background-color: #d0d5d9;
    }
  }
  .behance {
    height: 60px;
    width: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 15px;
      left: 15px;
      height: 40px;
      width: 40px;
      background: url(../images/sprite/sprite.svg#behance-icon) no-repeat;
    }
    &:hover {
      background-color: #d0d5d9;
    }
  }
}

.meet-team {
  padding-top: 7px;
  position: relative;
  text-decoration: none;
  margin-bottom: 95px;
  &:hover h4,
  &:hover p {
    background: #3a454d;
    color: #fff;
  }
  &:hover .social-net-team a {
    display: block;
  }

  h4 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 16px;
    color: #292f36;
    text-transform: uppercase;
    background: #e1e6ea;
    padding: 20px 20px 7px 20px;

    p {
      font-family: "Open Sans", sans-serif;
      color: #8d8f92;
      text-transform: none;
    }
  }
}

.social-net-team {
  position: absolute;
  top: 0;
  left: 0;
  a {
    display: none;
    &:hover {
      background: #4e5a62;
    }
  }
  .twitter-team {
    position: absolute;
    top: 132px;
    left: 73px;
    height: 50px;
    width: 50px;
    margin-right: 1px;
    background-color: #3a454d;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 13px;
      left: 12px;
      height: 30px;
      width: 30px;
      background: url(../images/sprite/sprite.svg#twitter-icon) no-repeat;
    }
  }
  .facebook-team {
    position: absolute;
    top: 132px;
    left: 73px;
    height: 50px;
    width: 50px;
    margin-right: 1px;
    background-color: #3a454d;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 13px;
      left: 12px;
      height: 30px;
      width: 30px;
      background: url(../images/sprite/sprite.svg#facebook-icon) no-repeat;
    }
  }
  .linkedin-team {
    position: absolute;
    top: 132px;
    left: 73px;
    height: 50px;
    width: 50px;
    margin-right: 1px;
    background-color: #3a454d;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 13px;
      left: 12px;
      height: 30px;
      width: 30px;
      background: url(../images/sprite/sprite.svg#linkedin-icon) no-repeat;
    }
  }
}
